@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    }

body {
background-image:linear-gradient(to right,rgb(6, 6, 225),rgb(68, 68, 220),rgb(121, 121, 215),rgb(85, 6, 124));

}
main{
    background-color: rgba(0, 183, 255, 0.916);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.579);
    width: 600px;
    padding: 10px; 
    margin: auto;
}
h1{color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 10px 10px 10px black;

}
h2{color: rgb(255, 0, 0);

}

p {
    text-align: justify;
 }
